

<h1>New routine</h1>
<% unless @trails.present? %>
    <h3>You don't have any Trails yet ):</h3>
    <%= link_to "Create new Trail", new_trail_path, class: "btn btn-info" %>
    <%else %>
<%= render 'form', meeting: @meeting %>
<%end %>
<%= link_to 'Go back!', meetings_path, class: 'btn btn-secondary' %>


<%= flash[:alert] if flash[:alert].present? %>
