// Specific CSS for your home-page
* {
  margin: 0;
  padding: 0;
}
.logo-title h1 {
  font-family: 'Caveat', cursive;
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 60px;
  letter-spacing: 0.05em;
  text-align: center;
}

.container {
  max-width: 100%;
  margin: 0 auto;
  padding: 0;
}

.container-landing {
  width: 1000px;
  margin: 0 auto;
  padding: 0;
}

#landing-question {
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-weight: bolder;
  font-style: normal;
  font-size: 42px;
}

#landing-details {
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-style: normal;
  font-size: 19px;
}

#landing-info {
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-weight: bold;
  font-size: 16px;
}

.padding-body {
  padding-top: 69px;
}
#cards-home{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  // padding-left: 50px;
  // padding-right: 50px;
  margin-left: 50px;
  margin-right: 50px;
}

#cards-index{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  padding-top: 40px;
  // padding-left: 50px;
  // padding-right: 50px;
  margin-left: 50px;
  margin-right: 50px;
}


.show-trails {


}

.logo-title {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 130px;
}

.logo{
  width: 40px;
  height: 40px;
  margin-right: 15px;
  border-radius: 8px;
}

.search-box {
  padding-top: 39px;
}

@media(max-width: 600px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

.content {
  position: absolute; /* Position the background text */
  bottom: 0; /* At the bottom. Use top:0 to append it to the top */
  background: rgb(253, 253, 253); /* Fallback color */
  background: rgba(255, 252, 252, 0.766); /* Black background with 0.5 opacity */
  color: #050505; /* Grey text */
  width: 100%; /* Full width */
  padding: 20px; /* Some padding */
}

.botao-index {
  border-radius: 10px;
  background-color: #3c64b1;
}

.hero {
  // background-color: black;
  // color: white;
  // height: 250px;
  padding-top: 25px;
  text-align: center;
}

.hero text {
  margin-top: 50px;
  display: inline-block;
  vertical-align: middle;
  margin: center;
}

.todos-os-videos {
  padding: 0 100px 0 100px;
}
