<div class="d-flex justify-content-center logo-title">
<%= image_tag "logo.png", class: "logo" %>
  <h1>Learning Shot</h1>
</div>

<div class="container">
  <%# <div class=""> %>
    <div class="cards" id="trails">
      <% @trails.each do |trail| %>
        <div class="card">
          <%= link_to image_tag("https://images.unsplash.com/photo-1579584425555-c3ce17fd4351?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8c3VzaGl8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60", class: "card-img-top"), trail %>
          <div class="content">
            <h3 class="card-title"><strong><%=trail.title%></strong></h3>
            <p class="card-text"><%=trail.description%></p>
          </div>
        </div>
      <% end %>
    </div>
  <%# </div> %>
</div>
