<div class="container">
  <div class="row">
    <%= render "trails/search_content", locals:{trail: @trail} %>
    <% if @results.present? %>
      <%@results.each do |video| %>
      <%= render "trails/video", locals:{video: video} %>
      <%end %>
    <% end %>
  </div>
</div>
