<% results.each do |video| %>
  <div class="card mb-3 mt-3">
    <img src="<%= video[:snippet][:thumbnail][:standard]%>" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title"><%= video[:snippet][:title] %></h5>
      <p class="card-text"><%= video[:snippet][:description] %>.</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
<% end %>
