<div class="container-forms d-flex justify-content-center mt-5">
  <div class="row">
    <h3>It's time to create your most amazing Trail!</strong></h3>
  </div>
</div>

<%= render "form", trail: @trail %>

<br>

<div>

  <%= link_to "Back to My Trails", trails_path %>

</div>
